﻿@model CourseUpdateModel
@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Kurs Düzenle</h5>
                <form asp-controller="course" asp-action="Edit" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly"></div>

                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="UserId" />
                    <input type="hidden" asp-for="Picture" />

                    <div class="mb-3">
                        <label class="form-label" asp-for="CategoryId"></label>
                        <select class="form-control" asp-items="@ViewBag.categoryList" asp-for="CategoryId">
                        </select>
                        <span class="text-danger" asp-validation-for="CategoryId"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" class="form-control">
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Price" class="form-label"></label>
                        <input asp-for="Price" class="form-control">
                        <span class="text-danger" asp-validation-for="Price"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Description" class="form-label"></label>
                        <input asp-for="Description" class="form-control">
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Feature.Duration" class="form-label"></label>
                        <input asp-for="Feature.Duration" class="form-control">
                        <span class="text-danger" asp-validation-for="Feature.Duration"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="PhotoFormFile" class="form-label"></label>
                        <input type="file" asp-for="PhotoFormFile" class="form-control">
                    </div>

                    <button type="submit" class="btn btn-primary">Kurs Kaydet</button>

                    <br />

                    <img src="@PhotoHelper.GetPhotoStockUrl(Model.Picture)" class="rounded float-start mt-5" />

                </form>
            </div>
        </div>
    </div>
</div>


