﻿@model List<CourseViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Kurslar</h5>

                <a asp-controller="course" asp-action="create" class="btn btn-primary mb-3">Kurs Oluştur</a>

                @if (Model.Any())
                {
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Resim</th>
                                <th>Kurs İsim</th>
                                <th>Fiyat</th>
                                <th>Süre</th>
                                <th>Kategori</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @if (item.Picture != null)
                                        {
                                            <img src="@PhotoHelper.GetPhotoStockUrl(item.Picture)" class="rounded float-start">
                                        }
                                    </td>
                                    <td>@item.Name</td>
                                    <td>@item.Price</td>
                                    <td>@item.Feature.Duration</td>
                                    <td>@item.Category.Name</td>
                                    <td>
                                        <a asp-controller="course" asp-action="edit" asp-route-id="@item.Id" class="btn btn-success">Düzenele</a>
                                        <a asp-controller="course" asp-action="delete" asp-route-id="@item.Id" class="btn btn-danger">Kaldır</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="alert alert-info">Kayıtlı kurs bulunamadı</div>
                }
            </div>
        </div>
    </div>
</div>

