﻿@model BasketViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sepet</h5>

                @if (Model != null && Model.BasketItems.Any())
                {
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Kurs İsim</th>
                                <th>Kurs Fiyat</th>
                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.BasketItems)
                            {
                                <tr>
                                    <td>@item.CourseName</td>
                                    <td>@item.GetCurrentPrice ₺</td>
                                    <td>
                                        <a class="btn btn-danger" asp-action="RemoveBasketItem" asp-controller="basket" asp-route-courseId="@item.CourseId">Sepetten Kaldır</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            @if (Model.HasDiscount)
                            {
                                <tr>
                                    <td colspan="2">indirim Oranı</td>
                                    <td>% @Model.DiscountRate.Value</td>
                                </tr>
                            }
                            <tr>
                                <td colspan="2">@(Model.HasDiscount?"İndirimli Fiyat":"Toplam Fiyat")</td>
                                <td>@Model.TotalPrice ₺</td>
                            </tr>
                        </tfoot>
                    </table>

                    <form asp-controller="basket" asp-action="ApplyDiscount" method="post">
                        @if (Model.HasDiscount)
                        {
                            <div class="alert alert-success">
                                "@Model.DiscountCode" İndirim Kodu Uygulandı.
                                &nbsp;<a asp-action="CancelApplyDiscount" asp-controller="basket" class="text-danger">(iptal et)</a>
                            </div>
                        }

                        @if (TempData["discountStatus"] != null && (bool)TempData["discountStatus"] == false)
                        {
                            <div class="alert alert-danger">
                               İndirim Kodu Geçersiz.
                            </div>
                        }

                        @if (TempData["discountError"] != null)
                        {
                            <div class="alert alert-danger">
                               @TempData["discountError"]
                            </div>
                        }

                        <div class="input-group mb-3">
                            <input type="Text" name="Code" id="Code" class="form-control" />
                            <button type="submit" class="btn btn-outline-dark">İndirim Uygula</button>
                        </div>

                    </form>

                    <a class="btn btn-success" asp-action="Checkout" asp-controller="Order">Ödeme Bilgileri</a>
                    <a class="btn btn-warning" asp-action="Index" asp-controller="Home">Alış Verişe Devam Et</a>
                }
                else
                {
                    <div class="alert alert-info">Sepet Boş</div>
                }

            </div>
        </div>
    </div>
</div>