﻿@model List<OrderViewModel>
@{
    ViewData["Title"] = "CheckoutHistorty";
}
<div class="row">
    <h5 class="mb-3 text-center">Sipariş Geçmişi</h5>
    @if (Model.Any())
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sipariş(Ödeme) No</th>
                    <th>Tarih</th>
                    <th>Detaylar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @foreach (var item in Model)
                    {
                        <td>@item.Id</td>
                        <td>@item.CreateDate.ToShortDateString()</td>
                        <td>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Kurs İsmi</th>
                                        <th>KurS Fİyat</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var orderItem in item.OrderItems)
                                    {
                                        <tr>
                                            <td>@orderItem.ProductName</td>
                                            <td>@orderItem.Price ₺</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                    }
                </tr>
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-info">Satın aldığınız herhangi bir kurs bulunmamaktadır.</div>
    }
</div>

