﻿
@{
    ViewData["Title"] = "SuccessFullCheckout";
}

<div class="alert alert-info">
    <p>Siparriş başarıyla tamamlandı</p>
    <p>Sipariş Nu : @ViewBag.orderId</p>
</div>

<a class="btn btn-primary" asp-action="Index" asp-controller="Home">Alış Verişe Devam Et</a>
