﻿@model CourseViewModel
@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-md-9">
        <div class="card">
            <img src="@PhotoHelper.GetPhotoStockUrl(Model.Picture)" class="card-img-top" />
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                 <span class="badge bg-primary">Kategori : @Model.Category.Name</span>
                <p class="cadr-text">@Model.Description</p>
               
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card"> 
            <div class="card-body">
                 <h4 class="card-title">Fiyat: @Model.Price ₺</h4>
                 <div class="d-grid">
                     <a class="btn btn-primary" asp-controller="basket" asp-action="AddBasketItem" asp-route-courseId="@Model.Id">Sepete Ekle</a>
                 </div> 
            </div>
        </div>
    </div>
</div>
