﻿@model List<CourseViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<h3>Kurslar</h3>
<hr />

@if (Model.Any())
{
    <div class="row row-cols-1 row-cols-md-4 g-4">
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="card">
                    <img src="@PhotoHelper.GetPhotoStockUrl(item.Picture)" class="card-img-top" alt="@item.Name">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Description - @item.Feature.Duration</p>
                        <h4>@item.Price.ToString("c") ₺</h4>
                        <a class="btn btn-primary" asp-controller="home" asp-action="detail" asp-route-id="@item.Id">Detay</a>
                    </div>
                </div>
            </div>
        }
    </div>
}


