﻿@model FreeCourse.WebMVC.Models.SigInInput
@{
    ViewData["Title"] = "SignIn";
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Üye Giriş</h5>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <form asp-action="SignIn" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input type="email" class="form-control" asp-for="Email" aria-describedby="emailHelp" value="onur1997onur@gmail.com">
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label"></label>
                        <input type="password" class="form-control" asp-for="Password" value="1234Zxcv!.">
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" asp-for="IsRemember">
                        <label class="form-check-label" asp-for="IsRemember" ></label>
                    </div>
                    <button type="submit" class="btn btn-primary">Giriş Yap</button>
                </form>
            </div>
        </div>
    </div>
</div>


