﻿@model FreeCourse.WebMVC.Models.UserViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Kullanıcı Bilgileri</h5>
                <table class="table table-striped" aria-describedby="user-info">
                    <tr>
                        <td>Kullanıcı Adı</td>
                        <td>@Model.UserName</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>@Model.Email</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>@Model.City</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="list-group">
            <a asp-controller="course" asp-action="Index" class="list-group-item list-group-item-action" aria-current="true">
                Kurslarım
            </a>
        </div>
    </div>

</div>

